{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@routes": "./src/routes",
          "@assets": "./src/assets",
          "@reducers": "./src/reducers",
          "@selectors": "./src/selectors",
          "@actions": "./src/actions"
        }
      }
    ]
  ]
}
