// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.App {
  color: white;
}
.ant-layout-header {
  background-color: var(--color-bg-1);
}
.ant-layout-footer {
  background-color: var(--color-gray-24);
}
.ant-layout-content {
  background-color: var(--color-gray-24);
}
.page {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}
//
.btn-yellow {
  background-color: var(--color-yellow-4);
  color: black;
  border-width: 0px;
  &:hover {
    color: black !important;
  }
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  height: auto;
}
.color-yellow-4 {
  color: var(--color-yellow-4);
}
.cursor-pointer {
  cursor: pointer;
}
.clickable {
  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
