@import 'normalize.css';
@import '../../_customize.scss';
:root {
  // ---------------------- COLORS ----------------------
  --color-bg-1: #20221d;
  --color-yellow: #ffd841;
  --color-grey: #404434;
  // ---------------------- TYPOGRAPHY ----------------------
  // FONT SIZE
  --fs-56: 56px;
  --fs-48: 48px;
  --fs-40: 40px;
  --fs-32: 32px;
  --fs-24: 24px;
  --fs-22: 22px;
  --fs-20: 20px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-14: 14px;
  --fs-12: 12px;
  --fs-10: 10px;

  // FONT WEIGHT
  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-semi-bold: 900;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;

  // LINE HEIGHT
  --lh-62: 62px;
  --lh-56: 56px;
  --lh-48: 48px;
  --lh-40: 40px;
  --lh-30: 30px;
  --lh-28: 28px;
  --lh-24: 24px;
  --lh-20: 20px;
  --lh-18: 18px;
  --lh-16: 16px;
  --lh-14: 14px;
}

$font-list: 56, 48, 40, 32, 24, 20, 18, 16, 14, 12, 10;
$fontweight-list: 'extra-bold', 'bold', 'semi-bold', 'medium', 'regular',
  'light';
$line-height-list: 62, 56, 48, 40, 30, 28, 24, 20, 18, 16, 14;

@each $size in $font-list {
  .fs-#{$size} {
    font-size: var((--fs-#{$size})) !important;
  }
}

@each $fw in $fontweight-list {
  .fw-#{$fw} {
    font-weight: var(--fw-#{$fw}) !important;
  }
}

@each $ln in $line-height-list {
  .lh-#{$ln} {
    line-height: var(--lh-#{$ln}) !important;
  }
}
//
.cursor-pointer {
  cursor: pointer;
}
