.custom-radio-group {
  display: flex;
  flex-direction: row;
  background-color: #303030;
  padding: 3px 3px;
  border-radius: 10px;
  align-items: center;
  .option-cell {
    border: 1px solid transparent;
    padding: 0px 15px;
    &.selected {
      padding: 3px 15px;
      border-radius: 7px;
      background-color: white;
      color: #303030;
    }
  }
}
