.main-layout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  .header-menu {
    margin-left: 20px;
    background-color: transparent;
    color: white;
    .ant-menu-item {
      color: white;
      &:hover {
        color: white !important;
      }
      &::after {
        margin-bottom: 10px;
      }
      &-active,
      &-selected {
        &::after {
          border-bottom-color: var(--color-yellow-4) !important;
          margin-bottom: 10px;
        }
      }
    }
  }
  .right {
    .ant-btn {
      border-width: 0px;
      border-radius: 100px;
      height: 40px;
      width: 180px;
      font-weight: bold;
    }
    .btn-grey {
      background-color: var(--color-btn-gray);
      color: white;
      margin-right: 10px;
    }
    .btn-yellow {
      background-color: var(--color-yellow-4);
      color: var(--color-bg-1);
    }
  }
}
