.my-item-page {
  .my-item-card {
    height: 400px;
    background-color: #181818;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .top-up-balance {
      border: 1px solid var(--color-gray-13);
      width: 180px;
      text-align: center;
      border-radius: 100px;
      padding: 5px 0px;
    }
    .investment-chart {
      // background-color: rgb(45, 62, 45);
      width: 100%;
      flex: 1;
      height: 1px;
    }
    .balance-chart {
      // background-color: rgb(45, 62, 45);
      width: 100%;
      flex: 1;
    }
    .milestone-chart {
      background-color: rgb(45, 62, 45);
      width: 100%;
      flex: 1;
    }
  }
}
