// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.App {
  color: white;
}
.ant-layout-header {
  background-color: var(--color-bg-1);
}
.ant-layout-footer {
  background-color: var(--color-gray-23);
}
.ant-layout-content {
  background-color: var(--color-gray-23);
}
.page {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}
